VITE_SUPABASE_URL=https://itkzslnpoeitbtwxniuw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0a3pzbG5wb2VpdGJ0d3huaXV3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzODMyMTgsImV4cCI6MjA5NDk1OTIxOH0.K6IXbsBmotWYVaRfMC8rc1lYm2aNWnVj4tj9dUiI2NE
